 {% extends 'sph/base.html' %}
{% load staticfiles %}

  {% block content %} 
   <div class = "container">
       <h2>Опитування
    на визначення ідеологій українського
    суспільства</h2>
          <div class="row">
              <div class="col-md-2 col-xs-2 col-lg-2">
    </div>
              <div class="main_title">
       <div class ="col-md-8 col-xs-8 col-lg-8">
       <h3>В Україні немає жодної ідеологічної партії як на Заході. Проте, це не означає що українське населення не має ідеології. Взявши участь у цьому дослідженні Ви можете з’ясувати для себе яка у вас домінантна ідеологія і допомогти нам з’ясувати яка ідеологія є домінантною в Україні вцілому.</h3>
       <h3>Просимо Вас бути максимально чесними у відповідях на запитання. Опитування є абсолютно анонімним. Усі результати будуть подані в узагальненому вигляді.</h3>
    </div>
                  </div>
              
                        <div class="col-md-2 col-xs-2 col-lg-2">
    </div>

    </div>
       
       <div class="text-center">
           <a href = "/sph/slider"> <button type="submit" id = "start_button" class="save btn btn-default btn-lg">Розпочати тест </button>
               </a>
            </div>
</div>
          
{% endblock %}

